.tips-container h1{
  text-align: center;
}

.add-tips-form {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: auto;
  overflow-y: auto; 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
  
form {
  display: flex;
  flex-direction: column; 
  gap: 15px; 
}
  
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.picture-input-form-add-tips {
    background-color: #D7BFACFF;
    padding: 15px;
    border-radius: 5px;
    margin: 5px auto auto;
}

.form-group label {
  display: block;
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    background: transparent;
    color: #333;
    font-size: 14px;
    border-radius: 5px;
}

.submit-button-form {
    width: auto;
    padding: 10px 20px;
    margin: 10px auto auto;
}

.submit-button:hover {
  background-color: #7291f2;
}

.picture-input-form-add-tips {

}