@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Patrick+Hand&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./map.css";
@import "./add-tips.css";
@import "./itinaries-detail.css";
* {
  box-sizing: border-box;
}

:root {
  --color-primary: #d7bfac;
  --color-secondary: #e7ded3;
  --color-tertiary: #f5f5f5;
  --color-background: #f2eee5;
  --color-accent: #a6c6c7;
  --color-dark: #315d55;
  --color-black: #000000;
  --color-error: #df6c2c;
  --color-title: #ffff;

  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-dark);
  font-family: "Quicksand", sans-serif;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  color: var(--color-dark);
}

/* Styles de base pour les en-têtes et le texte */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lugrasimo", cursive;
  color: var(--color-accent);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

/* Boutons et liens interactifs */
button,
.button {
  background-color: var(--color-accent);
  color: var(--color-tertiary);
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover,
.button:hover {
  background-color: var(--color-primary);
  color: var(--color-dark);
}
.button-add-step {
  color: var(--color-accent);
  background-color: var(--color-tertiary);
}
/* Conteneur principal pour aligner les éléments au centre */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 100vh;
}

/* Styles spécifiques pour la navigation et le pied de page */
nav {
  width: 100%;
  background-color: var(--color-secondary);
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: var(--color-secondary);
  color: var(--color-dark);
}

/* Utilisation des polices pour des éléments spécifiques */
.title {
  font-family: "Bad Script", cursive;
  color: var(--color-primary);
  margin: 0 0 20px 0;
}

/* Adaptation pour différents écrans */
@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    padding: 20px;
  }

  .title {
    font-size: 3rem;
  }
}

.toast {
  text-wrap: nowrap;
}
.input-form-add-tips{
  width: 100%;
}


.itineraries-carousel {
  margin: 10px auto auto;
  width: 100%;

}

.card-itinerary {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 270px;
  margin: 6px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  background-color: var(--color-background);
  position: relative;
  cursor: pointer;
  transition: transform 500ms ease-in-out, box-shadow 500ms ease-in-out;
}
.itineraries-card-content {
  width: 60%;
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.itineraries-card-button-explore  {
  width: 150px;
  margin: auto;
}
.itineraries-card-footer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0;
  .category {
    font-weight: 200;
  }
}
.created-at-initerarie {
  font-size: 0.8rem;
  color: var(--color-dark);
  font-weight: 200;
  margin: 0;
}