@import 'base.css';

/* Main container */
.destination-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow: auto;
    background-color: var(--color-background);
}

.title-banner {
    width: 100%;
    height: 300px;
    background-image: url('https://fastly.picsum.photos/id/177/2515/1830.jpg?hmac=G8-2Q3-YPB2TreOK-4ofcmS-z5F6chIA0GHYAe5yzDY');
    background-size: cover;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.5rem;
    padding: 20px; 
    font-family: 'Bad Script', cursive;
    text-align: center;
}

.title-banner h1 {
    margin-bottom: 10px; 
}

.title-banner p {
    font-size: 1.6rem; 
    max-width: 80%; 
    text-align: center;
    color: var(--color-dark);
}


/* Region list container */
.regions-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--color-secondary);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    margin: 20px 10px 0 10px;
}

.region-item, .subregion-item {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.region-item:last-child, .subregion-item:last-child {
    border-bottom: none;
}

.region-item span, .subregion-item span {
    display: block;
    color: var(--color-dark);
    font-weight: bold;
    font-size: 1.2rem;
}

.countries-dropdown {
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    min-width: 250px;
    z-index: 10;
    overflow: auto;
    max-height: 400px;
}

.subregion-item.active .countries-dropdown {
    display: block;
}

.subregion-item:hover .countries-dropdown {
    display: block;
}

.countries-dropdown div {
    padding: 10px;
    border-bottom: 1px solid #eee;
    background-color: #f9f9f9;
    white-space: nowrap;
}

.countries-dropdown div:last-child {
    border-bottom: none;
}

.subregion-item {
    background-color: #e9ecef;
}

.autocomplete-results {
    position: absolute;
    background-color: white;
    width: auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow: auto;
    max-height: 300px;
    z-index: 5;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Search bar container */
.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}
/* Search bar input styling */
.search-bar {
    width: 60%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 8px;
    border: 2px solid var(--color-dark);
}

/* Search button styling */
.search-button {
    padding: 10px 20px;
    background-color: var(--color-accent);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.close-button {
    align-self: center;
    cursor: pointer;
    border: none;
    background: none;
    color: #ccc;
    font-size: 10px;
}

.close-button {
    background: transparent;
    border: none;
    color: var(--color-dark);
    cursor: pointer;
    margin-bottom: 10px;
}

.add-tip-button-destination {
    width: auto;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-tip-button:hover {
    background-color: var(--color-accent);
}

/* H2 carousel */
.carousel-container-destination {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 80%;
    button {
        margin: auto;
    }
}
.carousel-container-destination h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
/* Style des cartes pour derniers tips */
.tips-destination {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}
.tips-destination .card-destination {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    background-color: var(--color-background);
    position: relative;
    cursor: pointer;
    transition: transform 500ms ease-in-out, box-shadow 500ms ease-in-out;
}

.tips-destination .card-destination:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

.tips-destination .card-destination-image {
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center;
}

.tips-destination .card-content-destination {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tips-destination .card-title-destination {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.tips-destination .card-button-destination {
    padding: 10px 20px;
    background-color: var(--color-accent);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.tips-destination .card-button-destination:hover {
    background-color: var(--color-primary);
}

.card__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0;
    .category {
        font-weight: 200;
    }
}

.itineraries-carousel {
    margin: 10px auto auto;
    width: 100%;

}

.card-itinerary {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 270px;
    margin: 6px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    background-color: var(--color-background);
    position: relative;
    cursor: pointer;
    transition: transform 500ms ease-in-out, box-shadow 500ms ease-in-out;
}
.itineraries-card-content {
    width: 60%;
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.itineraries-card-button-explore  {
     width: 150px;
    margin: auto;
}
.itineraries-card-footer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0;
    .category {
        font-weight: 200;
    }
}
.created-at-initerarie {
    font-size: 0.8rem;
    color: var(--color-dark);
    font-weight: 200;
    margin: 0;
}
.fixture-generation {
    position: absolute;
    z-index: 1000;
    bottom: 10px;
    left: 10px;
    float: right;
    background-color: rgba(250, 169, 169, 0.46);
    width: 40px;
    height: 40px;
    border-radius: 90%;
}
.empty-tips, .empty-itineraries {
    width: 70%;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
}