@import 'base.css';
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap');

:root {
  --img-scale: 1.001;
  --title-color: var(--color-dark);
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
}

.containerHomepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  overflow-x: hidden;
}

.titleHomepage {
  margin-top: 20px;
  color: var(--color-accent);
  text-align: center;
  font-size: 3rem;
}

.globeAndInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.globeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%; 
}

.countryCard {
  display: flex;
  flex-direction: row;  
  align-items: center;  
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  margin-top: 20px;
  width: 80%;
}

.info-country {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countrydetails, .weatherdetails {
  margin: 10px;
}

.weatherdetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 10px; 
  width: 100%; 
  margin: 30px;
}

.countryCard img {
  width: 100px; 
  border-radius: 10px;
}

.countryCard h2, .weather-details h3 {
  color: var(--color-dark);
  font-weight: bold;
}

.countryCard p, .weather-details p {
  font-size: 16px;
  color: var(--color-dark);
}

.buttoncontainer a {
  text-align: center;
  color: var(--color-primary);
  padding: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin: 50px;
}

.countrydetails, .weatherdetails {
  margin: 10px;
}

.buttoncontainer a:hover {
  color: var(--color-primary);
  text-transform: uppercase;
}

.countryCard a:hover, .countryCard button:hover {
  transform: scale(1.1); 
}