@import 'base.css';

body, html {
  height: 100%;
  margin: 0;
}
/* loginpage.css */
.login-page {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-background);
    perspective: 1000px;
    position: relative;
  }
  
  .globe-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
  }
  
  .form-container {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 90%;
    padding: 20px;
    border-radius: 12px;
    transform-style: preserve-3d;
    animation: rotate 30s infinite linear;
  }

  @keyframes rotate {
    0% { transform: rotateY(0deg); }
    10% { transform: rotateY(5deg); }
    20% { transform: rotateY(-5deg); }
    30% { transform: rotateX(5deg); }
    40% { transform: rotateX(5deg); }
    50% { transform: rotateX(-5deg); }
    60% { transform: rotateY(5deg); }
    70% { transform: rotateY(-5deg); }
    80% { transform: rotateX(5deg); }
    90% { transform: rotateX(-5deg); }
    100% { transform: rotateY(5deg); }
  }
  
  .direct-access-button {
    background-color: var(--color-primary);
    color: var(--color-dark);
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5rem;
    box-shadow: 0 9px 8px rgba(0, 0, 0, 0.1);
  }
  
  .direct-access-button:hover {
    background-color: var(--color-accent);
    color: var(--color-tertiary);
  }

  .error-message {
    color: var(--color-error);
    font-size: 1.2rem;
  }
  