
.map-wrap {
    margin: auto;
    position: relative;
    width: 400px;
    height: 400px;
    max-width: 400px;
    max-height: 400px;
}
.map {
    position: absolute;
    /*top: 0;*/
    width: 400px;
    /*left: 0*/;
    height: 400px;
    max-width: 400px;
    max-height: 400px;
}

