@import 'base.css'; 

/* Styles généraux du menu */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-accent); 
  padding: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.nav-logo img {
  width: 250px;
  margin-left: 10px; 
}

.nav-profile img {
  width: 20px; 
}

.burger {
  display: block;
  background: none;
  border: none;
  color: var(--color-dark); 
  font-size: 56px;
  cursor: pointer;
}

.nav-links {
  width: 100%;
  display: none;
  font-family: "Quicksand", sans-serif;
}

.nav-links.open {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links a:hover {
  color: var(--color-secondary);
}

.nav-links a, .nav-profile a {
  color: var(--color-black); 
  text-decoration: none;
  padding: 0px 20px;
}

.nav-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----------- DESKTOP ------------------ */
@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .burger {
    display: none;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 20px; 
  }

  .nav-links {
    justify-content: center;
    display: flex;
    font-size: 30px;
  }

  .nav-links a {
    color: var(--color-dark);
  }

  .nav-profile {
    flex-direction: row; 
  }
  .nav-profile img {
    width: 30px;
  }
}
